wsSelex/App_WebReferences/WeatherService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://webservices.aspitalia.com/WeatherService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://webservices.aspitalia.com/WeatherService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://webservices.aspitalia.com/WeatherService">
      <s:element name="GetTemperature">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cityName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTemperatureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetTemperatureResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTemperatureSoapIn">
    <wsdl:part name="parameters" element="tns:GetTemperature" />
  </wsdl:message>
  <wsdl:message name="GetTemperatureSoapOut">
    <wsdl:part name="parameters" element="tns:GetTemperatureResponse" />
  </wsdl:message>
  <wsdl:portType name="WeatherServiceSoap">
    <wsdl:operation name="GetTemperature">
      <wsdl:input message="tns:GetTemperatureSoapIn" />
      <wsdl:output message="tns:GetTemperatureSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WeatherServiceSoap" type="tns:WeatherServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTemperature">
      <soap:operation soapAction="http://webservices.aspitalia.com/WeatherService/GetTemperature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WeatherServiceSoap12" type="tns:WeatherServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTemperature">
      <soap12:operation soapAction="http://webservices.aspitalia.com/WeatherService/GetTemperature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WeatherService">
    <wsdl:port name="WeatherServiceSoap" binding="tns:WeatherServiceSoap">
      <soap:address location="http://localhost:1324/CS/WeatherService.asmx" />
    </wsdl:port>
    <wsdl:port name="WeatherServiceSoap12" binding="tns:WeatherServiceSoap12">
      <soap12:address location="http://localhost:1324/CS/WeatherService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>